<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Post</title>
</head>
<body>
    <div class="menuoptions">
        <div class="menucontent">
            <a href="datapublish">Publicar</a> | <a href="dashboard">Dashboard</a> | <a href="sign_out">Sair</a>
        </div>
    </div>
        <div class="publishpost">
            <div class="publishheader">
                    Publicar Post
                    <div class="publishcontent">
                        <form method="POST" action="/add_data">
                            age<br>
                            <input type="text" class="" id="age" name="age"><br>
                            sex<br>
                            <input type="text" class="" id="gender" name="gender"><br>
                            cp<br>
                            <input type="text" class="" id="impluse" name="impluse"><br>
                            trtbps<br>
                            <input type="text" class="" id="pressurehight" name="pressurehight"><br>
                            chol<br>
                            <input type="text" class="" id="pressurelow" name="pressurelow"><br>
                            fbs<br>
                            <input type="text" class="" id="glucose" name="glucose"><br>
                            restecg<br>
                            <input type="text" class="" id="kcm" name="kcm"><br>
                            thalachh<br>
                            <input type="text" class="" id="troponin" name="troponin"><br>
                            exng<br>
                            
                            <input type="submit" value="Publicar Dado">
                        </form>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>